doctype
html
	head
		title #{title} - Chen Node
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			h1 Chen Node
		.container
			.main-content
				block content
			.sidebar
				block sidebar
		footer
			p Running on node with Express, Jade and Stylus
